
body {
    background-color: #018BAA;
}
    .container {
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
    }
         .left-column {
             display: inline-block;
             width: 40%;
             float: left;
             margin-top: 20px;
             background-color: #0069BA;

         }
             .page-title {

            }
            .bottom-links {

            }
                .bottom-links > .link {

                }
                .bottom-links > .text {

                }
        .right-column {
            display: inline-block;
            width: 60%;
            float: left;
            padding: 60px;
            background-color: white;
        }
            .close {

            }
            .form {

            }
                .form-row {

                }
                    .label {

                    }
                    .input {

                    }
                    .btn {

                    }
                    .form-row > .text {

                    }
                    .form-row > .link {

                    }